body {
    background-image: url("téléchargement.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
}
.title {
    color: lemonchiffon;
    text-align: center;
    background: linear-gradient(to bottom, black, black,rgba(0, 0, 0, 0.836), transparent);
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
.one {
    letter-spacing: 10px;
    font-size: 400%;
}
.two {
    font-size: 120%;
}
.karl {
    font-size: 200%;
    margin: 10px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    border-radius: 20px;
    font-family: Zain;
    text-align: center;
}
.untitle {
    font-size: 300%;
    font-weight: 600;
    flex: 1;
    text-align: center;
    margin-top: 7%;
}
.a {
    font-size: 150%;
    margin: 10px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    border-radius: 20px;
    text-align: justify;
    white-space: pre-wrap;
    font-family: Zain;
    flex: 2;
}
.invite {
    display: flex;
    gap: 20px;
}
.b {
    font-size: 150%;
    margin: 10px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    border-radius: 20px;
    text-align: justify;
    white-space: pre-wrap;
    font-family: Zain;
    flex: 2;
}
.antitle {
    font-size: 300%;
    font-weight: 600;
    flex: 1;
    text-align: center;
    margin-top: 6%;
}
.zug {
    font-size: 150%;
    margin: 10px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    border-radius: 20px;
    text-align: justify;
    white-space: pre-wrap;
    font-family: Zain;
}